@import url("https://fonts.googleapis.com/css?family=Roboto");
.wrapperStyles {
    width: 100%;
    max-width: 980px;
    margin: 10px auto;
    font-family: Roboto, sans-serif;
}

.wrapperDataVisualisationStyles {
    margin: 0 auto;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.wrapperDescriptionStyles {
    flex: 2;
}

.wrapperMapStyles {
    flex: 3;
}

.mapNav {
    min-height: 80px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}